body{
    font-family: Roboto;
    background: #373B44;
    background: linear-gradient(to right, #4286f4, #373B44);

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:320px;
    height:520px;
    background-color: white;
    top:20px;
    margin:0 auto;
    position:relative;
    border-radius: 5px;
}

#result{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 4;
    height: 120px;
    background-color: red;
    width: 100%;
}

#show_pre_result{
    flex-grow: 1;
    text-align: right;
    padding-right: 15px;
    font-size:15px;
    color:#919191;
}

#show_cur_result {
    padding-right: 20px;
    flex-grow: 1;
    text-align: right;
    font-size: 30px;
}

#keyboard{
    flex-grow: 6;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.operator, .number  {
    width:50px;
    height:50px;
    margin: 15px;
    float:left;
    border-radius: 50%;
    border-width: 0;
    font-weight:bold;
    font-size:16px;
}

.number {
    background-color: whitesmoke;
}

.operator, .number{
    cursor: pointer;
}


button:nth-child(16) {
    font-size: 20px;
    background-color: red;
}
