body{
    display: flex;
    justify-content: center;
}
.calc{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 280px;
    height: 415px;
    border-radius: 12px;

    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    
}
#screen{
    flex-grow: 1;

    text-align: right;
    padding-right: 25px;
    color: #5F5959;
    font-size: 54px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    

}
.keyboard{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color:white;
}
.row{
    flex-grow: 1;
    background-color: white;

    display: flex;
    flex-direction: row;
    margin: 5px;
}
.button{
    width: 4em;
    /* flex-grow: 1; */

    background-color: #ECEDEF;
    color: #5F5959;
    border-radius: 100%;  
    margin: 2px;

    font-size: 26px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}  
.button:hover{
    background-color: yellow;
}
.button:active{
    background-color:green;
}
#\={
    background-color: red;
    color: white;
}
#\=:hover{
    background-color: black;
}



