body {
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calbody {
	background: wheat;    
    border: 1px solid black;   
}

.calculator_display {
	background: whitesmoke;
	color: black;
	width: 20rem;
	margin: 0.25rem;
	padding: 2rem 3rem;
	text-align: right;
	font-size: calc(1rem * 1.2);
	border-radius: 1rem;
	border: 1px solid black;
}

.button {
	background-color: wheat;
	display: grid;
	grid-template-columns: repeat(4, auto);
}

.button button{
	font-size: calc(1rem * 1.2);
	height: 3rem;
	border: round;
	margin: 0.25rem;
}
