.display {
	background-color: #585858;
	width: 300px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
	color: white;
}

.prev {
	font-size: 25px;
}

.result {
	font-size: 45px;
}

.button-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: 300px;
	height: 350px;
	gap: 5px;
}

.main {
	padding: 10px;
	display: flex;
	justify-content: center;
}

button {
	font-size: 20px;
	font-weight: bold;
}

.operator {
	background-color: #e93939;
	color: white;
}

.equal {
	background-color: rgb(70, 70, 250);
	color: white;
}

.calculator {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.zero {
	grid-column-end: span 2;
}

/* .op span {
	display: none;
} */
