body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.input{
    flex-grow: 1;
    width: 100vw;
    background-color: aqua;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
input{
    height: 50px;    
}
.control{
    flex-grow: 1;
    height: 100px;
    width: 100vw;
    background-color: palevioletred;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 60px;
    height: 20px;
    background-color: azure;
}
.output{
    flex-grow: 18;
    background-color: aqua;
    width: 100vw;

    display: flex;
    flex-direction: column;
}
.row{
    height: 40px;
    margin: 10px;
    
    background-color: blueviolet;

    display: flex;
    
    justify-content: flex-start;
    align-items: center;
}